div.ui.toggle.checkbox label::before{
    border: 1px solid #ccc;
    background:#ccc;
}
div.ui.toggle.checkbox label::after{
    border: 1px solid #ccc;
}

.textarea-hidden{
    visibility: hidden;
}

body {
    height: 100%!important;
}
div.create-entry-form {
    padding:40px;
}